---
import { getCollection, render } from "astro:content";
import Prose from "../../components/Prose.astro";
import Base from "../../layouts/Base.astro";
import Button from "../../components/Button.astro";
import { ArrowLeft, House } from "@lucide/astro";

export const prerender = true;

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { post: post.data.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Base>
  <div class="max-w-2xl">
    <div class="flex justify-between mb-12">
      <a href="/blog">
        <Button size="small">
          <div class="flex gap-x-3">
            <ArrowLeft /> Back to blog
          </div>
        </Button>
      </a>
      <a href="/">
        <div
          class="flex align-middle p-3 rounded-xl border border-gray-200 cursor-pointer group bg-white hover:bg-gray-50 hover:shadow-sm"
        >
          <House size={16} class="group-hover:text-sky-600" />
        </div>
      </a>
    </div>
    <Prose><Content /></Prose>
  </div>
</Base>
