---
import "../styles/global.css";
import profilePic from "../assets/profile_pic.webp";
import CompanyExperience from "../components/CompanyExperience.astro";
import LocationIcon from "../assets/icons/location.svg";
import CompanyIcon from "../assets/icons/company.svg";
import Base from "../layouts/Base.astro";
import { m } from "../paraglide/messages.js";
---

<Base>
  <section
    id="hero"
    class="px-4 py-8 flex justify-center items-center md:max-w-4xl md:mx-auto"
  >
    <img
      src={profilePic.src}
      width="447"
      height="447"
      alt="Photo of Carlos Vilas Alvarez"
      class="rounded-md md:w-32 md:h-32 w-28 h-28 shadow-lg"
    />
    <div class="md:text-left ml-4 md:ml-12">
      <h1 class="text-xl md:text-2xl font-bold">Carlos Vilas Álvarez</h1>
      <p class="text-neutral-600 md:mt-2 text-base md:text-lg">
        Software Developer
      </p>
      <div class="flex justify-start mt-3">
        <CompanyIcon class="w-4 md:w-6 mr-1 text-neutral-600" />
        <p class="text-neutral-600 mr-2 md:mr-4 text-sm md:text-base">
          Qualifyze
        </p>
        <LocationIcon class="w-4 md:w-6 mr-1 text-neutral-600" />
        <p class="text-neutral-600 text-sm md:text-base">
          {m["profile.location"]}
        </p>
      </div>
    </div>
  </section>
  <div class="border border-b-1 border-neutral-200 md:max-w-4xl mx-auto"></div>
  <section id="timeline" class="px-4 py-8">
    <div class="md:mx-auto md:max-w-4xl">
      <h2 class="text-xl font-bold mb-6">{m["experience.title"]}</h2>
      <div
        class="space-y-8 relative border-s border-gray-200 dark:border-gray-700 ml-3"
      >
        <CompanyExperience
          jobTitle="Backend Engineer (Mid)"
          companyName="Qualifyze"
          companyLogoURL="https://media.licdn.com/dms/image/v2/C4D0BAQGqyYkaHZRx0g/company-logo_200_200/company-logo_200_200/0/1660896511174/qualifyze_logo?e=1746662400&v=beta&t=q5ZQCA1ngS3CwDWDU2YcQLlo8qrMWXFiv6fnOGwHy4o"
          startDate="January 2025"
          endDate="Present"
          description="I'm part of a big product oriented team in a fast-growing company related to the pharmaceutical sector, home to the largest database of quality compliance data in the world."
          technologies={[
            "Node",
            "TypeScript",
            "Nest",
            "PostgreSQL",
            "Kubernetes",
            "Next",
            "AWS",
            "DDD",
          ]}
        />
        <CompanyExperience
          jobTitle="Full-Stack Engineer II (Mid)"
          companyName="SEAT:CODE"
          companyLogoURL="https://media.licdn.com/dms/image/v2/D4D0BAQFEurf1aYROog/company-logo_200_200/company-logo_200_200/0/1701727106034/seatcode_logo?e=1746662400&v=beta&t=4C46VKUqsL6kcPueWMDXvh1Kewa2KaZxQLKNZCkGTAQ"
          startDate="June 2023"
          endDate="January 2025"
          description="At SEAT:CODE, I was working in a small team for a gamification solution for Audi aimed at reducing battery waste and improving user satisfaction with their vehicle."
          technologies={[
            "Node",
            "TypeScript",
            "PostgreSQL",
            "Kubernetes",
            "Next",
            "AWS",
            "DDD",
          ]}
        />
        <CompanyExperience
          jobTitle="Backend Engineer (Mid)"
          companyName="Unibo Neobank"
          companyLogoURL="https://media.licdn.com/dms/image/v2/C4D0BAQGd04v44TkP4w/company-logo_200_200/company-logo_200_200/0/1678372601967/holaunibo_logo?e=1746662400&v=beta&t=czKt3dHWZ5f_WNNf2-K_uwyJRX98rWGKj5OnlxhZfiY"
          startDate="November 2022"
          endDate="June 2023"
          description="Collaborated in a really small, dynamic fintech product team. My primary focus was on designing and implementing robust, scalable microservices and solutions that catered to the needs of the company. I actively participated in the creation of a rich domain model and contributed to product development efforts."
          technologies={[
            "Node",
            "TypeScript",
            "PostgreSQL",
            "Kubernetes",
            "GCP",
            "DDD",
          ]}
        />
        <CompanyExperience
          jobTitle="Backend Engineer"
          companyName="BizAway"
          companyLogoURL="https://media.licdn.com/dms/image/v2/D4D0BAQEubesLpH024Q/company-logo_200_200/company-logo_200_200/0/1715701561956/bizaway_logo?e=1746662400&v=beta&t=BYQLj3OPZadcwrZXmx3yE4eM4utH0WyiyiCAi44a3tg"
          startDate="March 2021"
          endDate="November 2022"
          description="Worked at an international B2B startup from Italy that streamlined business travel bookings. I developed and maintained core product services, libraries and frameworks and worked in a small product oriented team."
          technologies={[
            "Node",
            "TypeScript",
            "MongoDB",
            "Kubernetes",
            "AWS",
            "GraphQL",
          ]}
        />
        <CompanyExperience
          jobTitle="Junior Software Developer"
          companyName="Galvintec"
          companyLogoURL="https://media.licdn.com/dms/image/v2/C4E0BAQGoYg4el-OsUQ/company-logo_200_200/company-logo_200_200/0/1646400812986/galvintec_logo?e=1746662400&v=beta&t=jRUK-3b8-ERgvW9MiXDdjvT_YAoeUT387-8ksZ-K4XQ"
          startDate="April 2020"
          endDate="March 2021"
          description="Working as a full-stack developer in an e-commerce platform that we were building from scratch. My main responsibility was to develop the product's catalog microservice."
          technologies={["Node", "TypeScript", "MongoDB", "Docker", "GraphQL"]}
        />
      </div>
    </div>
  </section>
</Base>
