---
import profilePic from "../assets/profile_pic.jpeg";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <section id="hero">
      <img
        src={profilePic.src}
        width="115"
        height="48"
        alt="Photo of Carlos Vilas Alvarez"
        class="rounded-full w-56 h-56"
      />
    </section>
  </main>
</Layout>
