---
import "../styles/global.css";
import profilePic from "../assets/profile_pic.webp";
import CompanyExperience from "../components/CompanyExperience.astro";
import LocationIcon from "../assets/icons/location.svg";
import CompanyIcon from "../assets/icons/company.svg";
import Base from "../layouts/Base.astro";
import { m } from "../paraglide/messages.js";
---

<Base>
  <section
    id="hero"
    class="px-4 py-8 flex justify-center items-center md:max-w-4xl md:mx-auto"
  >
    <img
      src={profilePic.src}
      width="128"
      height="128"
      alt="Photo of Carlos Vilas Alvarez"
      class="rounded-md md:w-32 md:h-32 w-28 h-28 shadow-lg"
      loading="eager"
    />
    <div class="md:text-left ml-4 md:ml-12">
      <h1 class="text-xl md:text-2xl font-bold">Carlos Vilas Álvarez</h1>
      <p class="text-neutral-600 md:mt-2 text-base md:text-lg">
        Software Developer
      </p>
      <div class="flex justify-start mt-3">
        <CompanyIcon class="w-4 md:w-6 mr-1 text-neutral-600" />
        <p class="text-neutral-600 mr-2 md:mr-4 text-sm md:text-base">
          Qualifyze
        </p>
        <LocationIcon class="w-4 md:w-6 mr-1 text-neutral-600" />
        <p class="text-neutral-600 text-sm md:text-base">
          {m["profile.location"]}
        </p>
      </div>
    </div>
  </section>
  <div class="border border-b-1 border-neutral-200 md:max-w-4xl mx-auto"></div>
  <section id="timeline" class="px-4 py-8">
    <div class="md:mx-auto md:max-w-4xl">
      <h2 class="text-xl font-bold mb-6">{m["experience.title"]}</h2>
      <div
        class="space-y-8 relative border-s border-gray-200 dark:border-gray-700 ml-3"
      >
        <CompanyExperience
          companyName="Qualifyze"
          companyLogoURL="https://media.licdn.com/dms/image/v2/C4D0BAQGqyYkaHZRx0g/company-logo_200_200/company-logo_200_200/0/1660896511174/qualifyze_logo?e=1746662400&v=beta&t=q5ZQCA1ngS3CwDWDU2YcQLlo8qrMWXFiv6fnOGwHy4o"
          timeline={m["experience.qualifyze.timeline"]()}
          description={m["experience.qualifyze.description"]()}
          technologies={[
            "Node",
            "TypeScript",
            "Nest",
            "PostgreSQL",
            "Kubernetes",
            "Next",
            "AWS",
            "DDD",
          ]}
        />
        <CompanyExperience
          companyName="SEAT:CODE"
          companyLogoURL="https://media.licdn.com/dms/image/v2/D4D0BAQFEurf1aYROog/company-logo_200_200/company-logo_200_200/0/1701727106034/seatcode_logo?e=1746662400&v=beta&t=4C46VKUqsL6kcPueWMDXvh1Kewa2KaZxQLKNZCkGTAQ"
          timeline={m["experience.seatCode.timeline"]()}
          description={m["experience.seatCode.description"]()}
          technologies={[
            "Node",
            "TypeScript",
            "PostgreSQL",
            "Kubernetes",
            "Next",
            "AWS",
            "DDD",
          ]}
        />
        <CompanyExperience
          companyName="Unibo Neobank"
          companyLogoURL="https://media.licdn.com/dms/image/v2/C4D0BAQGd04v44TkP4w/company-logo_200_200/company-logo_200_200/0/1678372601967/holaunibo_logo?e=1746662400&v=beta&t=czKt3dHWZ5f_WNNf2-K_uwyJRX98rWGKj5OnlxhZfiY"
          timeline={m["experience.uniboNeobank.timeline"]()}
          description={m["experience.uniboNeobank.description"]()}
          technologies={[
            "Node",
            "TypeScript",
            "PostgreSQL",
            "Kubernetes",
            "GCP",
            "DDD",
          ]}
        />
        <CompanyExperience
          companyName="BizAway"
          companyLogoURL="https://media.licdn.com/dms/image/v2/D4D0BAQEubesLpH024Q/company-logo_200_200/company-logo_200_200/0/1715701561956/bizaway_logo?e=1746662400&v=beta&t=BYQLj3OPZadcwrZXmx3yE4eM4utH0WyiyiCAi44a3tg"
          timeline={m["experience.bizAway.timeline"]()}
          description={m["experience.bizAway.description"]()}
          technologies={[
            "Node",
            "TypeScript",
            "MongoDB",
            "Kubernetes",
            "AWS",
            "GraphQL",
          ]}
        />
        <CompanyExperience
          companyName="Galvintec"
          companyLogoURL="https://media.licdn.com/dms/image/v2/C4E0BAQGoYg4el-OsUQ/company-logo_200_200/company-logo_200_200/0/1646400812986/galvintec_logo?e=1746662400&v=beta&t=jRUK-3b8-ERgvW9MiXDdjvT_YAoeUT387-8ksZ-K4XQ"
          timeline={m["experience.galvintec.timeline"]()}
          description={m["experience.galvintec.description"]()}
          technologies={["Node", "TypeScript", "MongoDB", "Docker", "GraphQL"]}
        />
      </div>
    </div>
  </section>
</Base>