---
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"button"> {
  size?: "small" | "normal";
}

const { size = "normal", class: customClass, ...attrs } = Astro.props;

const baseClass =
  "cursor-pointer font-medium focus:outline-none rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-sky-600 focus:z-10";
const sizeClass = size === "normal" ? "py-2.5 px-5" : "py-2 px-4";
const finalClass = [baseClass, sizeClass, customClass]
  .filter(Boolean)
  .join(" ");
---

<button type="button" class={finalClass} {...attrs}>
  <slot />
</button>
