---
import GithubLogo from "../assets/icons/github.svg";
import LinkedInLogo from "../assets/icons/linkedin.svg";
import XLogo from "../assets/icons/x.svg";
---

<footer id="footer" class="bg-neutral-100 px-4 py-8">
  <div class="text-center">
    <div class="flex justify-center">
      <GithubLogo class="w-8" />
      <LinkedInLogo class="w-8" />
      <XLogo class="w-8" />
    </div>

    <div class="flex flex-col justify-center space-x-6 mb-4">
      <p class="text-neutral-600">Get in touch: carlos@example.com</p>
      <p class="text-sm text-neutral-500 mt-2">© 2025 Carlos Vilas Álvarez</p>
    </div>
  </div>
</footer>
