---
import { Copyright } from "@lucide/astro";
import SocialLinks from "./SocialLinks.astro";
---

<footer
  class="container mx-auto px-4 py-8 max-w-4xl border-t border-gray-200 mt-12"
>
  <div
    class="flex flex-col md:flex-row justify-between items-center space-y-4 md:space-y-0"
  >
    <div class="flex items-center text-muted-foreground">
      <Copyright class="w-4 h-4 mr-2" />
      <span class="text-sm">
        {new Date().getFullYear()} Carlos Vilas Alvarez. All rights reserved.
      </span>
    </div>
    <div class="flex justify-start space-x-6">
      <SocialLinks />
    </div>
  </div>
</footer>
