---
import GithubLogo from "../assets/icons/github.svg";
import LinkedInLogo from "../assets/icons/linkedin.svg";
import XLogo from "../assets/icons/x.svg";
---

<footer
  id="footer"
  class="bg-neutral-100 px-4 pt-8 pb-4 border-t border-neutral-200"
>
  <div class="text-center">
    <div class="flex justify-center space-x-6">
      <a
        href="https://github.com/CarlosVilasAlvarez"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="GitHub"
      >
        <GithubLogo class="w-6 text-neutral-600" />
      </a>
      <a
        href="https://www.linkedin.com/in/carlos-vilas-alvarez/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="LinkedIn"
      >
        <LinkedInLogo class="w-6 text-neutral-600" />
      </a>
      <a
        href="https://x.com/CarlosVilasDev"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="X"
      >
        <XLogo class="w-6 text-neutral-600" />
      </a>
    </div>
    <div class="flex flex-col justify-center space-x-6">
      <p class="text-sm text-neutral-500 mt-2">
        © {new Date().getFullYear()} Carlos Vilas Álvarez
      </p>
    </div>
  </div>
</footer>