<div class="flex flex-rox items-center w-full my-9">
    <div class="grow border-t-2 border-black h-0"></div>
    <img src="/logo.svg" alt="logo" width="15" height="15" class="mx-3 my-0" />
    <div class="grow border-t-2 border-black h-0"></div>
</div>
