<div class="text-xs mt-1 text-gray-500">
    <a href="https://github.com/CarlosVilasAlvarez" target="_blank">Github</a>
    <a
        href="https://www.linkedin.com/in/carlos-vilas-alvarez/"
        target="_blank"
        class="ml-1">LinkedIn</a
    >
</div>
