---
interface Props {
    styles?: string;
}

const { styles } = Astro.props;
---

<section class={styles}>
    <div class="flex flex-row h-full">
        <img
            src="/myself-avatar.webp"
            alt="Me"
            class="rounded-full object-cover m-0 w-20 lg:w-24"
        />
        <div class="ml-5 py-2 flex flex-col justify-evenly">
            <h1 class="text-base m-0 lg:text-xl">Carlos Vilas Álvarez</h1>
            <p class="text-sm m-0 lg:text-lg">Software Developer</p>
            <div
                class="text-xs lg:text-sm mt-1 text-gray-500 flex flex-row items-center"
            >
                <a href="https://github.com/CarlosVilasAlvarez" target="_blank"
                    >Github</a
                >
                <a
                    href="https://www.linkedin.com/in/carlos-vilas-alvarez/"
                    target="_blank"
                    class="ml-3">LinkedIn</a
                >
            </div>
        </div>
    </div>
    <p class="m-0 pt-7 lg:pt-9">
        Hola! Soy Carlos, vivo en Vigo y actualmente trabajo como Software
        Developer en el magnífico equipo de <a
            href="https://www.linkedin.com/company/seatcode">SEAT:CODE</a
        >, también tengo experiencia previa trabajando en diferentes startups.
    </p>
    <p class="mb-0">
        A parte de la programación, me gusta compartir mis ideas y reflexiones
        sobre la vida.
    </p>
</section>
