---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta
      name="description"
      content="Discover the portfolio of Carlos Vilas Alvarez, a skilled Software Developer. Explore professional experience, articles, and personal projects."
    />
    <meta name="apple-mobile-web-app-title" content="Carlos Vilas" />
    <link rel="manifest" href="/site.webmanifest" />

    <!-- Preload Google Fonts CSS -->
    <link
      rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript>
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      />
    </noscript>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <title>Carlos Vilas Alvarez</title>
  </head>
  <body class="min-h-screen bg-background flex flex-col">
    <main class="container mx-auto px-4 py-12 max-w-4xl flex-grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>
